In [1]:
import pandas as pd
import numpy as np

In [2]:
orders=pd.read_csv("NewOrder.csv")
Users=pd.read_csv("orders.csv")
products=pd.read_csv("products.csv")
userRating=pd.read_csv('Mall_Customers.csv')
userRating=userRating[['user_id','UserType']]
productRating=pd.read_csv('ProductRating.csv')

In [3]:
Users=Users[['order_id','user_id']]

In [4]:
USerOrderDetails=pd.merge(orders,Users,on=['order_id','order_id'])

In [5]:
USerOrderDetails.head()

   order_id  product_id  user_id
0         2       33120   202279
1         2       28985   202279
2         2        9327   202279
3         2       45918   202279
4         2       30035   202279

In [26]:
UserOrderDetails=USerOrderDetails.drop(['order_id'],axis=1)

In [27]:
UserOrder=UserOrderDetails.groupby(['product_id','user_id']).size().reset_index(name='counts').sort_values('product_id')
UserOrder=pd.merge(UserOrder,userRating,on=['user_id','user_id'])
UserOrder=pd.merge(UserOrder,productRating,on=['product_id','product_id'])
UserOrder=UserOrder[(UserOrder['ProductType']<=UserOrder['UserType'])]

In [28]:
UserOrder=UserOrder[['product_id','user_id','counts']]
UserOrder.head()

   product_id  user_id  counts
0           1      138       2
1           1   134184       1
2           1   134237       1
3           1   134462       1
4           1   134615       1

In [8]:
Aisle=pd.merge(UserOrderDetails,products,on=['product_id','product_id'])

In [9]:
Aisle=pd.merge(Aisle,userRating,on=['user_id','user_id'])
Aisle=pd.merge(Aisle,productRating,on=['product_id','product_id'])
Aisle=Aisle[(Aisle['ProductType']<=Aisle['UserType'])]
Aisle.head()

,product_id,user_id,product_name,aisle_id,department_id,UserType,ProductType
0,33120,202279,Organic Egg Whites,86,16,1,0
1,33120,202279,Organic Egg Whites,86,16,1,0
2,33120,202279,Organic Egg Whites,86,16,1,0
3,33120,202279,Organic Egg Whites,86,16,1,0
4,33120,202279,Organic Egg Whites,86,16,1,0

In [29]:
UserOrder.to_csv("UsersProduct.csv",index=False)

In [ ]:
%%time
for i in range(1,49689):
    UserOrder[(UserOrder['product_id'] == i)].drop(['product_id'],axis=1).sort_values('counts',ascending=False).to_csv("Products/"+str(i)+".csv",index=False)

In [11]:
AisleHash=Aisle[['user_id','aisle_id']]
DepartmentHash=Aisle[['user_id','department_id']]

In [12]:
AisleHash.shape

(33693149, 2)

In [13]:
DepartmentHash.head()

   user_id  department_id
0   202279             16
1   202279             16
2   202279             16
3   202279             16
4   202279             16

In [14]:
AisleOrder=AisleHash.groupby(['aisle_id','user_id']).size().reset_index(name='counts').sort_values('aisle_id')

In [18]:
AisleOrder.head()

       aisle_id  user_id  counts
0             1        2       2
14283         1   137094       1
14282         1   137074       2
14281         1   137068       1
14280         1   137066       7

In [19]:
%%time
for i in range(1,135):
    AisleOrder[(AisleOrder['aisle_id'] == i)].drop(['aisle_id'],axis=1).sort_values('counts',ascending=False).to_csv("Aisles/"+str(i)+".csv",index=False)

Wall time: 29.5 s

In [20]:
DepartmentOrder=DepartmentHash.groupby(['department_id','user_id']).size().reset_index(name='counts').sort_values('department_id')

In [21]:
DepartmentOrder.head()

        department_id  user_id  counts
0                   1        2      28
110649              1   137480       1
110650              1   137481      27
110651              1   137482      44
110652              1   137483       4

In [22]:
%%time
for i in range(1,22):
    DepartmentOrder[(DepartmentOrder['department_id'] == i)].drop(['department_id'],axis=1).sort_values('counts',ascending=False).to_csv("Departments/"+str(i)+".csv",index=False)

Wall time: 11 s