In [1]:
import pandas as pd

In [2]:
Orders=pd.read_csv('NewOrder.csv')
Products=pd.read_csv('products.csv')

In [3]:
Orders.head()

   order_id  product_id
0         2       33120
1         2       28985
2         2        9327
3         2       45918
4         2       30035

In [4]:
Products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [5]:
OrderDetails=pd.merge(Orders,Products,on=['product_id','product_id'])

In [6]:
OrderDetails.head()

   order_id  product_id        product_name  aisle_id  department_id
0         2       33120  Organic Egg Whites        86             16
1        26       33120  Organic Egg Whites        86             16
2       120       33120  Organic Egg Whites        86             16
3       327       33120  Organic Egg Whites        86             16
4       390       33120  Organic Egg Whites        86             16

In [7]:
ForBestdata=OrderDetails.drop(['order_id','product_name'],axis=1)

In [8]:
ForBestdata.head()

   product_id  aisle_id  department_id
0       33120        86             16
1       33120        86             16
2       33120        86             16
3       33120        86             16
4       33120        86             16

In [9]:
ForBestdata.shape

(33819106, 3)

In [10]:
BestProducts=ForBestdata.groupby(['product_id']).size().reset_index(name='counts').sort_values('counts',ascending=False)
BestAisle=ForBestdata.groupby(['aisle_id']).size().reset_index(name='counts').sort_values('counts',ascending=False)
BestDepartment=ForBestdata.groupby(['department_id']).size().reset_index(name='counts').sort_values('counts',ascending=False)

In [17]:
BestProducts=BestProducts[0:100]
BestProducts.shape

(100, 2)

In [18]:
BestAisle=BestAisle[0:15]

(134, 2)

In [13]:
BestDepartment.head()

    department_id   counts
3               4  9888378
15             16  5631067
18             19  3006412
6               7  2804175
0               1  2336858

In [17]:
BestProducts.to_csv("BestProducts.csv",index=False)
BestAisle.to_csv("BestAisle.csv",index=False)
BestDepartment.to_csv("BestDepartment.csv",index=False)