# So this is the main Notebook

## Import all Csv
#### First we will import Popular Product,Aisle,Department csv
#### Second we will import Apriori Dataset for Product,Aisle,Department
#### Third we will import ProductHash dataset

In [1]:
import pandas as pd
from IPython.display import display
import random

### Import Names of all Products,Aisles,Department

In [2]:
AisleNames=pd.read_csv("aisles.csv")
DepartmentNames=pd.read_csv("departments.csv")
ProductNames=pd.read_csv("products.csv")

display(ProductNames.head())
display(AisleNames.head())
display(DepartmentNames.head())

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [3]:
ProductRating=pd.read_csv('ProductRating.csv')
UserRating=pd.read_csv('Mall_Customers.csv')
UserRating=UserRating[['user_id','UserType']]
display(ProductRating.head())
display(UserRating.head())

   product_id  ProductType
0           1            0
1           2            0
2           3            0
3           4            0
4           5            3

   user_id  UserType
0        0         3
1        1         1
2        2         3
3        3         1
4        4         3

In [4]:
PopularProduct=pd.read_csv("BestProducts.csv")
PopularAisles=pd.read_csv("BestAisle.csv")
PopularDepartments=pd.read_csv("BestDepartment.csv")

In [5]:
display(PopularProduct.head())
display(PopularAisles.head())
display(PopularDepartments.head())

   product_id  counts
0       24852  491291
1       13176  394930
2       21137  275577
3       21903  251705
4       47209  220877

   aisle_id   counts
0        24  3792661
1        83  3568630
2       123  1843806
3       120  1507583
4        21  1021462

   department_id   counts
0              4  9888378
1             16  5631067
2             19  3006412
3              7  2804175

In [6]:
AprioriProduct=pd.read_csv("Association Products Data.csv")

In [7]:
display(AprioriProduct.head())

   item_A  item_B      lift
0   29126   36361  9.318960
1    7076   17766  6.082161
2   12820   11212  5.603028
3   32201   44781  5.377182
4   28613   45636  5.372385

In [24]:
UsersDetails=pd.read_csv('UserProducts.csv')
UsersDetails.head()

   product_id  user_id  aisle_id  department_id
0       33120   202279        86             16
1       33120   153404        86             16
2       33120    23750        86             16
3       33120    58707        86             16
4       33120   166654        86             16

In [ ]:
UsersDetails=pd.merge(UsersDetails,ProductRating,on=['product_id','product_id'])
UsersDetails=pd.merge(UsersDetails,UserRating,on=['user_id','user_id'])
UsersDetails.head()

In [ ]:
UsersDetails=UsersDetails[(UsersDetails['ProductType']<=UsersDetails['UserType'])]

In [21]:
def ProductWise(id):
    if(id in PopularProduct.product_id.values):
        return ProductNames[(ProductNames['product_id']==id)].iloc[0]['product_name']+" is Popular Product So we are going to send this offer to everyone"
    else:
        List=[id]
        Allpeople=[]
        FirstProduct=AprioriProduct[(AprioriProduct['item_A']==id)]
        SecondProduct=AprioriProduct[(AprioriProduct['item_B']==id)]
        SecondProduct.columns=['item_B','item_A','lift']
        FirstProduct=FirstProduct.append(SecondProduct)
        for index,row in FirstProduct.iterrows():
            List.append(int(row[0]))
            List.append(int(row[1]))
        List=set(List)
        Users=UsersDetails[(UsersDetails['product_id']==id)]
        for index,row in Users.iterrows():
            Allpeople.append(row[1])
        Users=Users.iloc[0:0]
        List.remove(id)
        for products in List:
            Users=Users.append(UsersDetails[(UsersDetails['product_id']==products)])
        Users=Users.groupby(['product_id','user_id']).size().reset_index(name='counts').sort_values('counts',ascending=False)
        for index,row in Users.iterrows():
            Allpeople.append(row[1])
        return set(Allpeople)

In [ ]:
def AisleWise(id):
    if(id in PopularAisles.aisle_id.values):
        return AisleNames[(AisleNames['aisle_id']==id)].iloc[0]['aisle']+" is Popular Aisle So we are going to send this offer to everyone"
    else:
        List=[]
        Allpeople=[]
        Users=UsersDetails[(UsersDetails['aisle_id']==id)].groupby(['aisle_id','user_id']).size().reset_index(name='counts').sort_values('counts',ascending=False).drop(['aisle_id'],axis=1)  
        for index,row in Users.iterrows():
            Allpeople.append(row[1])
        return set(Allpeople)

In [ ]:
def DepartmentWise(id):
    if(id in PopularDepartments.department_id.values):
        return DepartmentNames[(DepartmentNames['department_id']==id)].iloc[0]['department']+ " is Popular Department So we are going to send this offer to everyone"
    else:
        List=[]
        Allpeople=[]
        Users=UsersDetails[(UsersDetails['department_id']==id)].groupby(['department_id','user_id']).size().reset_index(name='counts').sort_values('counts',ascending=False).drop(['department_id'],axis=1) 
        for index,row in Users.iterrows():
                Allpeople.append(row[0])
        return set(Allpeople)

In [ ]:
%%time
for i in range(1,10):
    ProductWise(i)
    AisleWise(i)
    DepartmentWise(i)
    print(i)

### Enter a user ID

In [ ]:
#UserId=int(input("Enter Number for which Type of Offer You want to promote\n1)Product Wise\n2)Aisle Wise\n3)Department Wise\n"))

In [25]:
len(ProductWise(29126))

472